* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.7s;
  font-family: "Roboto Slab", serif;
}

.hero {
  width: 1380px;
  height: 580px;
  background:
    linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.2)),
    url(../img/banner.jpg) center/cover no-repeat;
  margin: 20px auto;
  border-radius: 24px;
  padding: 20px;
}

.hero a {
  text-decoration: none;
  color: snow;
}
.hero i {
  color: snow;
}
ul li {
  list-style: none;
}
.hero-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo a {
  font-size: 26px;
  color: #8dd3bb;
}
.frame {
  width: 230px;
}
.frame ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  width: 210px;
}

.login ul {
  display: flex;
  justify-content: space-between;
}

.login a {
  padding: 10px 24px;
  border-radius: 10px;
}
.sign-up {
  background-color: snow;
  color: black !important;
}

.hero-content {
  width: 750px;
  height: 200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.helping-other {
  font-size: 45px;
  color: snow;
  text-transform: capitalize;
}

.live-travel {
  font-size: 80px;
  color: snow;
  text-transform: uppercase;
}

.hero-content p {
  font-size: 20px;
  color: snow;
}

/* form */
form {
  width: 1232px;
  height: 280px;
  margin: -100px auto;
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid black;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form .find {
  display: flex;
  width: 230px;
  justify-content: space-between;
}

form .find .li {
  border-right: 1px solid black;
  padding-right: 10px;
}

form a {
  text-decoration: none;
  color: #000;
}
.fieldset {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fieldset fieldset {
  padding: 4px 30px;
  border-radius: 5px;
}

.fieldset input,
select {
  border: none;
}

form .submit {
  display: flex;
  justify-content: end;
}
